<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>



<body>

    <main id="VueApp">
        <section class="form">
            <label for="testo">Todo</label>
            <input @keyup.enter="pushaElemento(myDataValue)" v-model="myDataValue" id="testo" type="text" placeholder="Inserisci il tuo testo">
            <button @click="pushaElemento(myDataValue)">Aggiungi</button>
        </section>

        <div class="list">
            <ul class="preTodo">
                <li class="myToDo" v-for="(elemento, index) in toDoList" >
                    <span id="doneUndone" @click="doneEvent(index)">{{toDoList[index].text}}</span>
                    <span class="delete" @click="eliminazione(index)">X</span>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>