* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {

    background-color: grey;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 1500px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form input {

    border-radius: 10px;
    border: none;
    padding: 10px;

}

.form button {

    padding: 10px;
}

.list {

    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0px;
}



.myToDo {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;

}

.delete {

    cursor: pointer;
}

.delete:hover {

    color: red;
}
